<div class="container">
  <div class="col-sm-4">
    <%= render 'partials/search' %>
    <%= render 'partials/discord' %>
  </div>

  <div class="col-sm-4">
    <div class="row">

    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">

    </div>
  </div>
</div>
