<div class="container">
  <div class="col-sm-4">
    <div class="row">
      <form method="get" action="https://www.google.com/search" target="_blank">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" name="q" placeholder="Google" autofocus>
          <span class="input-group-btn">
            <button class="btn btn-warning">Search</button>
          </span>
        </div>
      </form>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="well">
        <b>Coming soon...</b>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">

    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">

    </div>
  </div>
</div>
