  <div class="row hidden-xs">
    <form method="get" action="https://www.google.com/search" target="_blank">
        <input type="text" class="text-line" name="q" placeholder="Google" autofocus>
    </form>
    <hr>
  </div>
