<div class="row">
  <div class="col-xs-3 col-sm-3">
    <a href="#" target="_blank">
      <%= image_tag('affiliate/kinguin.png', :class => "img-responsive affiliate-img") %>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3">
    <a href="#" target="_blank">
      <%= image_tag('affiliate/lc_logo.png', :class => "img-responsive affiliate-img") %>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3">
    <a href="#" target="_blank">
      <%= image_tag('affiliate/rzr.png', :class => "img-responsive affiliate-img") %>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3">
    <a href="#" target="_blank">
      <%= image_tag('affiliate/ss_logo.png', :class => "img-responsive affiliate-img") %>
    </a>
  </div>
</div>
