<!-- Header -->
<div id="header">Header</div>

<!-- Fullpage.js -->
<div id="fullpage">
    <div class="section" id="section1">
      <form method="get" action="https://www.google.com/search" target="_blank">
        <div class="ui icon input">
          <input type="text" name="q" size="80" placeholder="Search..." autofocus />
          <button class="ui button">Search</button>
        </div>
      </form>
    </div>
    <div class="section" id="section2">
      <div class="ui padded grid" id="data_grid">
        <div class="three column row">
          <div class="white column">
            <h2 class="ui header">Features</h2>
            <p>First section of content</p>
          </div>
          <div class="teal column">
            <h2 class="ui inverted header">Statistics</h2>
            <p>First section of content</p>
          </div>
          <div class="white column">
            <script src="http://www.reddit.com/.embed?limit=5" type="text/javascript"></script>
          </div>
        </div>
        <div class="black row">
          <div class="column">
            <h2 class="ui inverted header">Headline</h2>
            <p>Second section of content</p>
          </div>
        </div>
        <div class="eight wide teal column">
          <h2 class="ui inverted header">Sitemap</h2>
          <p>Second section of content</p>
        </div>
        <div class="eight wide white column">
          <h2 class="ui header">Contact Us</h2>
          <p>Second section of content</p>
        </div>
        <div class="eight wide teal column">
          <h2 class="ui inverted header">Sitemap</h2>
          <p>Second section of content</p>
        </div>
        <div class="eight wide white column">
          <h2 class="ui header">Contact Us</h2>
          <p>Second section of content</p>
        </div>
        <div class="eight wide teal column">
          <h2 class="ui inverted header">Sitemap</h2>
          <p>Second section of content</p>
        </div>
        <div class="eight wide white column">
          <h2 class="ui header">Contact Us</h2>
          <p>Second section of content</p>
        </div>
      </div>
    </div>
</div>

<!-- Footer -->
<div id="footer">
  <div class="ui divided horizontal list">
    <div class="item">About Us</div>
    <div class="item">
      <a href="#" id="showContact">Contact</a>
    </div>
    <div class="item">Support</div>
  </div>
</div>

<!-- Contact Form should be here -->
<div class="ui modal" id="modalContact">
  <i class="close icon"></i>
  <div class="header">
    ~ Contact ~
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Send
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

