<div class="landing-header shadow">
  <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="tagline">PlaceHolder</h1>
              <p class="tagline" style="color:#B82601;">The greatest place for all gaming news in one place</p>
            </div>
          </div>
        </div>
</div>

<div class="container" style="background-color:white;">

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h2>What We Do</h2>
                <p>PlaceHolder.com is your starting point on the web.</p>
                <p>We gather news, rumours, matches and more for the most popular e-sports out there in one place.
                  Registered users will also have the possibility to customize your view and save links to your
                   favourite websites making it a breeze to surf the web.</p>
                <p>Below you can find some of the games that we cover!</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <%= image_tag('csgo_small.jpg', :class => "img-circle img-responsive img-center") %>
                <h2>Counterstrike</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
              <%= image_tag('alch_small.jpg', :class => "img-circle img-responsive img-center") %>
                <h2>DotA 2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
              <%= image_tag('controller_small.jpg', :class => "img-circle img-responsive img-center") %>
                <h2>Overwatch</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
