<div class="ui middle aligned center aligned grid padded">
    <div class="column contentbox">
      <div class="ui medium images">
        <a href="/csgo">
          <%= image_tag("csgo.jpg", :class => 'ui image frontimage') %>
        </a>
        <a href="/dota2">
          <%= image_tag("alch.jpg", :class => 'ui image frontimage') %>
        </a>
      </div>
    </div>
</div>
