<br>
<center>
<div class="ui medium image">
  <div class="ui dimmer">
    <div class="content">
      <div class="center">
        <h2 class="ui inverted header">Counterstrike</h2>
        <a href="/csgo" class="ui inverted button">Check it out -></a>
      </div>
    </div>
  </div>
  <%= image_tag('csgo.jpg', :class => "ui image shadow") %>
</div>


  <div class="ui medium image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <h2 class="ui inverted header">DotA 2</h2>
          <a href="/dota2" class="ui inverted button">Check it out -></a>
        </div>
      </div>
    </div>
    <%= image_tag('alch.jpg', :class => "ui image shadow") %>
  </div>

<div class="ui medium image">
  <div class="ui dimmer">
    <div class="content">
      <div class="center">
        <h2 class="ui inverted header">More to come...</h2>
      </div>
    </div>
  </div>
  <%= image_tag('controller.jpg', :class => "ui image shadow") %>
</div>
</center>
<br>
