<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <figure class="effect-lily">
            <%= image_tag('csgo.jpg') %>
						<figcaption>
							<div>
								<h2>Counterstrike</h2>
								<p>Rush B</p>
							</div>
						</figcaption>
					</figure>
    </div>
    <div class="col-sm-4">

      <figure class="effect-lily">
            <%= image_tag('alch.jpg') %>
						<figcaption>
							<div>
								<h2>DotA 2</h2>
								<p>Mid or Meepo -></p>
							</div>
            </figcaption>
					</figure>
    </div>
    <div class="col-sm-4">
      <figure class="effect-lily">
            <%= image_tag('controller.jpg') %>
            <figcaption>
              <div>
                <h2>?????</h2>
                <p>More games will come...</p>
              </div>
            </figcaption>
          </figure>
    </div>
  </div>
</div>
