<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <figure class="effect-lily">
            <%= image_tag('csgo.jpg') %>
						<figcaption>
							<div>
								<h2>Counterstrike</h2>
                <p>
                  <a href="/csgo" type="button" class="btn btn-warning">Rush B</a>
                </p>
              </div>
						</figcaption>
					</figure>
    </div>
    <div class="col-sm-4">

      <figure class="effect-lily">
            <%= image_tag('alch.jpg') %>
						<figcaption>
							<div>
								<h2>DotA 2</h2>
								<p>
                  <a href="/dota2" type="button" class="btn btn-warning">Mid or Meepo</a>
                </p>
							</div>
            </figcaption>
					</figure>
    </div>
    <div class="col-sm-4">
      <figure class="effect-lily">
            <%= image_tag('controller.jpg') %>
            <figcaption>
              <div>
                <h2>?????</h2>
                <p>More games will come...</p>
              </div>
            </figcaption>
          </figure>
    </div>
  </div>
</div>
<div class="spacer"></div>
