/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*/

@import "bootstrap-sprockets";
@import "bootstrap";

html *
{
   font-family: 'Noto Sans', sans-serif !important;
}

body {
  background-color: #1a1a1a !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header  {
  margin-bottom: -19px;
}

main {
  flex: 1;
}

.sidebar {
  background: rgba(28,88,133,1);
  background: -moz-linear-gradient(left, rgba(28,88,133,1) 0%, rgba(6,47,79,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,88,133,1)), color-stop(100%, rgba(6,47,79,1)));
  background: -webkit-linear-gradient(left, rgba(28,88,133,1) 0%, rgba(6,47,79,1) 100%);
  background: -o-linear-gradient(left, rgba(28,88,133,1) 0%, rgba(6,47,79,1) 100%);
  background: -ms-linear-gradient(left, rgba(28,88,133,1) 0%, rgba(6,47,79,1) 100%);
  background: linear-gradient(to right, rgba(28,88,133,1) 0%, rgba(6,47,79,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c5885', endColorstr='#062f4f', GradientType=1 );
  border: 0 !important;
}

.carousel-control {
    position: absolute;
    top: 45%; /* pushes the icon in the middle of the height */
}

.match-box  {
  width: calc(100%-10px);
  height: auto;
  background-color: black;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.streamer-box {
  width: calc(100%-10px);
  height: auto;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar-header {
  width: calc(100%-10px);
  height: auto;
  background-color: black;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.text-line {
  background-color: black;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 3px 10px;
  width: 100%;
  height: 35px;
  font-size: 20px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
}

.side-shadow  {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.img-front {
  margin-top: -20px;
}

.img-header {
  height: 35px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.img-footer {
  width: auto;
  height: 30px;
  margin: 5px;
}

.img-twitch {
  width: 60px;
  height: auto;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 5px solid transparent;
}

.spacer {
  height: 10px;
  width: 100%;
}

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100%);
	width: calc(100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
  color: white;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img {
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
  filter: brightness(50%);
}

figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.footer-distributed{
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 250px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: transparent;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 7px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
