/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

html *
{
   font-family: 'Noto Sans', sans-serif !important;
}

body {
  background-color: #1a1a1a !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
}

.navbar-brand {
  padding: 7px !important;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
}

.img-header {
  height: 35px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.img-footer {
  width: auto;
  height: 30px;
  margin: 5px;
}

.img-twitch {
  width: 60px;
  height: auto;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 5px solid transparent;
}

.spacer {
  height: 10px;
  width: 100%;
}

.container {
  width: 100% !important;
  margin: 0px !important;
}

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100%);
	width: calc(100%);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
  color: white;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
