<div class="ui inverted vertical footer segment" id="footer">
    <div class="ui divided inverted horizontal list">
        <div class="item">
          <%= image_tag("logo_white.png", :class => 'ui mini image') %>
        </div>
        <div class="item">
            <a href="#">About Us</a>
        </div>
        <div class="item">
            <a href="#">Contact</a>
        </div>
        <div class="item">
            <a href="#">Donate</a>
        </div>
    </div>
</div>
