<!DOCTYPE html>
<html>
    <head>
        <title>RottenTomato</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="ui vertical inverted left visible sidebar menu overlay">
            <div class="item">
                <center>
                    <h1>Dirr.gg</h1>
                </center>
            </div>
            <a class="item">
                Counterstrike
            </a>
            <a class="item">
                DotA 2
            </a>
            <a class="item">
                League Of Legends
            </a>
            <div id="sidebar_footer">
                <button class="ui inverted fluid green button">Login</button>
                <div class="ui horizontal inverted divider">
                    Or
                </div>
                <button class="ui inverted fluid orange button">Sign up</button>
            </div>
        </div>
        <div class="pusher">
            <div class="wrapper">
                <%= yield %>
                <div class="ui inverted vertical footer segment">
                    <div class="ui divided inverted horizontal list">
                        <div class="item">
                            <h4>Dirr.gg</h4>
                        </div>
                        <div class="item">
                            <a href="#">About Us</a>
                        </div>
                        <div class="item">
                            <a href="#">Contact</a>
                        </div>
                        <div class="item">
                            <a href="#">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
